<header>
    <div class="jumbotron">
        <h1>Team Manager</h1>
        {{#if loggedIn}}
            <h3><span>Welcome, {{username}}</span></h3>
        {{/if}}
        <nav>
            <a href="/home" class="btn btn-primary">Home</a>
            <a href="/about" class="btn btn-primary">About</a>
            {{#if loggedIn}}
                <a href="/catalog" class="btn btn-primary">Catalog</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
             {{else}}
                 <a href="/login" class="btn btn-primary">Login</a>
                 <a href="/register" class="btn btn-primary">Register</a>
            {{/if}}
        </nav>
    </div>
</header>